body {
  background-color: var(--background-primary);
}

header {
  width: 9.75rem;
  height: 2.5rem;
  margin: 1.5625rem auto 3.875rem;
}

main {
  height: 100vh;
  max-width: 39.6875rem;
  margin: 0 auto;
}

h1 {
  margin: 1rem 0 2.75rem 0;
  font: var(--title);
  color: var(--content-primary);
}

form {
  & input {
    width: 28.1875rem;
    height: 2.75rem;
    padding: 1rem;

    background-color: var(--background-secondary);
 
    border: .125rem solid var(--border-primary);
    border-radius: .75rem;
    outline: none;
  
    &::placeholder {
      font: var(--placeholder);
      color: var(--content-tertiary);

    }
      
    &:hover {
      border-color: var(--border-hover);
      transition: 0.2s;
    }

    &:focus {
      border-color: var(--color-brand);
    }

    &:focus {
      font: var(--placeholder);
      color: var(--content-primary);
    }

  }

  & button {
    width: 10rem;
    height: 2.75rem;
    margin-left: 1rem;

    background-color: var(--color-brand);
    border: none;
    border-radius: .75rem;
    
    font: var(--label);
    color: var(--always-white);

    cursor: pointer;

    &:hover {
      background-color: var(--color-brand-hover);
      transition: 0.2s;
    }
  }
}

ul {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

li {
  position: relative;
  border: solid 1px transparent;
  background: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 2.75rem 0 .75rem;
  height: 3.5625rem;
  border-radius: .75rem;
  margin-bottom: .75rem;
  width: 100%;
}

input[type="checkbox"] {
  all: unset;

   &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--border-primary);
    border-radius: 0.375rem;
    display: flex;
  }

   &:checked::before {
    border-color: var(--color-brand);
    background: var(--color-brand) 
    url(/icons/selected.svg) 
    no-repeat 
    left;
  }
}

label {
  margin-left: .75rem;
  font: var( --paragraph);
  color: var(--content-secondary);
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

span{
  position: absolute;
  right: .75rem;
  cursor: pointer;
}

@media (width <= 40em) {
  header {
   display: none;
  }

  main {
    margin-top: 4.875rem;
    padding: 0 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
      width: 100%;
      margin-bottom: .75rem;
    }

    & button {
      width: 100%;
      margin-left: 0;
    }
  }
}